body {
  margin: 0;
  font-family: sans-serif;
  background-color: #ffffff;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.bi-download{
  margin-left: 5px;
}
.bi-x-square,
.bi-telephone,
.bi-download,
.bi-envelope-at-fill,
.bi-cash-stack,
.bi-cash-stack,
.bi-instagram,
.bi-facebook,
.bi-globe2,
.bi-shop{
  color: #C6A750;   
}
.bi-instagram{
  margin-left: -10px;
  margin-top: 20px;
}
.bi-facebook{
margin-left: -10px;
margin-top: 10px;
}
.bi-shop{
  margin-left: 10px;
}
.bi-envelope-at-fill{
  margin-left: 15px;
}
.bi-telephone{
  margin-left: 5px;
}
.bi-x-square{
  margin-left: 5px;
}
a{
  text-decoration: none;
}



img {
  max-width: 100%;
  height: auto;
}
.logo img {
  width: 110px;
  height: 80px;
  margin-top: 10px;
}
.profilkep-image img {
  width: 270px;
  height: 220px;
  margin-left: -20px;
  margin-top: 30px;
}
.hr1 {
  width: 100%;
  height: 2px;
  background-color: black;
  margin: 20px 0;
}
.cegvezeto-nev{
  font-size: 37px;
  margin-top: 5px;
}
.tulajdonos{
  font-size: 18px;
  margin-top: 7px;
  color:#b09d69;
}
.cegnev{
  font-size: 23px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.mentes-nevjegykent{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 160px;
  background-color:  #ffffff;
  padding: 12px;
  border-radius: 11px;
  cursor: pointer;
  color: #C6A750;
  width: 220px;
  height: 50px;
  white-space: nowrap;
  padding-left: 1%;
  padding-right: 4%;
  text-decoration: none;   
  box-shadow: 0px 4px 12px rgb(111, 111, 111);
}
.telefonszam{
  background-color: #000000;
  border: 1px solid #C6A750;
  padding-top:15px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  width: 390px;
  padding-left: 4%;
  height: 60px;
  white-space: nowrap;
  margin-top: 20px;
  text-decoration: none; 
  font-size: 20px; 
  box-shadow: 0px 7px 11px rgb(121, 121, 121);
}
.emailcim{
  background-color: #000000;
  border: 1px solid #C6A750;
  padding-top:15px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  width: 390px;
  padding-left: 4%;
  height: 60px;
  white-space: nowrap;
  margin-top: 20px;
  text-decoration: none; 
  font-size: 20px; 
  box-shadow: 0px 7px 11px rgb(121, 121, 121);
} 
.uzlethelyseg-lokacio{
  background-color: #000000;
  border: 1px solid #C6A750;
  padding-top:15px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  width: 390px;
  padding-left: 4%;
  height: 60px;
  white-space: nowrap;
  margin-top: 20px;
  text-decoration: none; 
  font-size: 20px; 
  box-shadow: 0px 7px 11px rgb(121, 121, 121); 
}
.social-media-cim{
    text-align: center;
    font-size: 35px;
    margin-top: 70px;
    margin-left: 30px;  
}

.instabutton{
    background-color: #ffffff;
    border: 1px solid #C6A750;
    padding-top:15px;
    border-radius: 10px;
    cursor: pointer;
    color: #C6A750;
    width: 390px;
    padding-left: 4%;
    height: 60px;
    white-space: nowrap;
    margin-top: 10px;
    text-decoration: none; 
    font-size: 20px; 
    box-shadow: 0px 7px 11px rgb(121, 121, 121); 
}
.facebookbutton{
    background-color: #ffffff;
    border: 1px solid #C6A750;
    padding-top:15px;
    border-radius: 10px;
    cursor: pointer;
    color: #C6A750;
    width: 390px;
    padding-left: 4%;
    height: 60px;
    white-space: nowrap;
    margin-top: 20px;
    text-decoration: none !important; 
    font-size: 20px; 
    box-shadow: 0px 7px 11px rgb(121, 121, 121); 
}
.mywebpage{
     background-color: #ffffff;
    border: 1px solid #C6A750;
    padding-top:20px;
    border-radius: 10px;
    cursor: pointer;
    color: #C6A750;
    width: 390px;
    padding-left: 4%;
    height: 60px;
    white-space: nowrap;
    margin-top: 20px;
    text-decoration: none; 
    font-size: 20px; 
    box-shadow: 0px 7px 11px rgb(121, 121, 121); 
}

.uzleti-informaciok-cim{
    text-align: center;
    font-size: 35px;
    margin-top: 70px;
    margin-left: 30px;   
}
.uzleti-informaciok{
    gap: 30px;

}
.arlista{
    background-color: #000000;
    border: 1px solid #C6A750;
    padding-top:15px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    width: 390px;
    padding-left: 2%;
    height: 60px;
    white-space: nowrap;
    margin-top: 20px;
    margin-left: 30px;
    text-decoration: none; 
    font-size: 20px; 
     box-shadow: 0px 7px 11px rgb(121, 121, 121);
}
.Nyitvatartas{
    background-color: #000000;
    border: 1px solid #C6A750;
    padding-top:15px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    width: 390px;
    padding-left: 2%;
    height: 60px;
    white-space: nowrap;
    margin-top: 20px;
    margin-left: 30px;
    text-decoration: none; 
    font-size: 20px; 
    box-shadow: 0px 7px 11px rgb(121, 121, 121);   
}
.szolgaltatasok{
    background-color: #000000;
    border: 1px solid #C6A750;
    padding-top:15px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    width: 390px;
    padding-left: 2%;
    height: 60px;
    white-space: nowrap;
    margin-top: 20px;
    margin-left: 30px;
    text-decoration: none; 
    font-size: 20px; 
    box-shadow: 0px 7px 11px rgb(121, 121, 121); 
}
.akciok{
    background-color: #000000;
    border: 1px solid #C6A750;
    padding-top:15px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    width: 390px;
    padding-left: 2%;
    height: 60px;
    white-space: nowrap;
    margin-top: 20px;
    margin-left: 30px;
    text-decoration: none; 
    font-size: 20px; 
    box-shadow: 0px 7px 11px rgb(121, 121, 121);
}
.Aktualis-tavolletek{
   background-color: #000000;
    border: 1px solid #C6A750;
    padding-top:15px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    width: 390px;
    padding-left: 2%;
    height: 60px;
    white-space: nowrap;
    margin-top: 20px;
    margin-left: 30px;
    text-decoration: none; 
    font-size: 20px; 
    box-shadow: 0px 7px 11px rgb(121, 121, 121);
}
.bi-clock,
.bi-hand-index-thumb,
.bi-megaphone
{
  color: #e1bd59; 
  margin-left: 10px;
}
.bi-images{
   color: #C6A750; 
}
.portfolio-cim{
   text-align: center;
    font-size: 35px;
    margin-top: 70px;
    margin-left: 20px;
}
.portfolio-bemutatas{
  font-size: 23px;
  margin-top: 10px;
}
.portfolio{
    background-color: #000000;
    border: 1px solid #C6A750;
    padding-top:15px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    width: 390px;
    padding-left: 2%;
    height: 60px;
    white-space: nowrap;
    margin-top: 20px;
    margin-left: 30px;
    text-decoration: none; 
    font-size: 20px; 
    box-shadow: 0px 7px 11px rgb(121, 121, 121);
}
.fizetes-banki-atutalassal-cim{
    text-align: center;
    font-size: 35px;
    margin-top: 50px;
    margin-left: -10px;
}
.arany-keret{
  padding: 30px;
  margin-top: 30px;
  width: 400px;
  height: 230px;
  border: 1px solid #C6A750;
}
.kedvezmenyezett{
  font-size: 22px;
  margin-top: 10px;
}
.nev{
 font-size: 22px; 
 margin-top: 30px;
}
.szamla{
  font-size: 22px; 
  margin-top: 10px;
}
.szamlaszam{
 font-size: 22px;  
 margin-top: 10px;
}


/* Mobil nézet */
@media screen and (max-width: 576px) {
  .container {
    padding: 10px;
  }
  .logo img{
    width: 81px;
    height: 67px;
    margin-left: 20px;
  }
  .profilkep-image img{
    height: 150px;
    width: 170px;
    margin-left: 0px;
  }
  .hr1{
    margin-left: 0px;
  }
  .cegvezeto-nev{
    font-size: 25px;
    margin-left: 10px;
  }
  .tulajdonos{
    font-size: 15px;
    margin-left: 10px;
  }
  .cegnev{
    font-size: 18px;
    margin-left: 10px;
  }
  .mentes-nevjegykent{
    padding-left: 11px;
    padding-top: 9px;
    height: 37px;
    width: 160px;
    font-size: 13px;
    margin-top: -5px;
  }
  .telefonszam{
    width: 270px;
    height: 42px;
    font-size: 15px;
    margin-left: 10px;
    padding-top: 10px;
  }
  .emailcim{
    width: 270px;
    height: 42px;
    font-size: 15px;
    margin-left: 10px;
    padding-top: 10px;
  }
  .uzlethelyseg-lokacio{
    width: 270px;
    height: 42px;
    font-size: 15px;
    margin-left: 10px;
    padding-top: 10px;
  }
 .social-media-cim{
   font-size: 22px;
   margin-left: 10px;
   margin-top: 30px;
 }
  .instabutton{
   width: 270px;
   height: 42px;
   font-size: 15px;
   padding-left: 100px;
   margin-left: 72px;
   padding-top:  8px; 
  }
  .bi-instagram{
   margin-top: 1px;
   position: absolute;
   margin-left: 7px;
  }
  .facebookbutton{
   width: 270px;
   height: 42px;
   font-size: 15px;
   padding-left: 100px;
   margin-left: 72px;
   padding-top:  10px; 
  }
  .bi-facebook{
   margin-top: 1px;
   position: absolute;
   margin-left: 7px;
  }
  .mywebpage{
   width: 270px;
   height: 42px;
   font-size: 15px;
   padding-left: 89px;
   margin-left: 72px;
   padding-top:  10px; 
  }
  .bi-globe2{
   margin-top: 1px;
   position: absolute;
   margin-left: 7px;
  }
  .uzleti-informaciok-cim{
    font-size: 22px;
    margin-left: 10px;
    margin-top: 40px;
  }
  .arlista{
    width: 270px;
    height: 42px;
    font-size: 15px;
    margin-left: 72px;
    padding-top: 10px;
    padding-left: 110px;
  }
  .Nyitvatartas{
    width: 270px;
    height: 42px;
    font-size: 15px;
    margin-left: 72px;
    padding-top: 10px;
    padding-left: 95px;
  }
  .szolgaltatasok{
    width: 270px;
    height: 42px;
    font-size: 15px;
    margin-left: 72px;
    padding-top: 10px;
    padding-left: 87px;
  }
  .akciok{
    width: 270px;
    height: 42px;
    font-size: 15px;
    margin-left: 72px;
    padding-top: 10px;
    padding-left: 115px;
  }
  .Aktualis-tavolletek{
    width: 270px;
    height: 42px;
    font-size: 15px;
    margin-left: 72px;
    padding-top: 10px;
    padding-left: 75px;
  }
  .portfolio-cim{
    font-size: 22px;
    margin-left: 20px;
    margin-top: 40px;
  }
  .portfolio-bemutatas{
    font-size: 14px;
    margin-left: 100px;
    margin-top: 10px;
  }
  .portfolio{
    width: 270px;
    height: 42px;
    font-size: 15px;
    margin-left: 72px;
    padding-top: 10px;
    padding-left: 100px;
  }
  .fizetes-banki-atutalassal-cim{
    font-size: 22px;
    margin-left: 10px;
  }
  .arany-keret{
    width: 300px;
    height: 145px;
    margin-left: 55px;
  }
  .kedvezmenyezett{
    font-size: 15px;
    margin-left: 40px;
    margin-top: -10px;
  }
  .nev{
    font-size: 15px;
    margin-left:25px;
    margin-top: 20px;
    white-space: nowrap;
   
  }
  .szamlaszam{
    font-size: 15px;
    margin-left: 50px;
    margin-top: 20px;
  }
  .szamla{
    font-size: 15px;
    margin-left: 70px;
    white-space: nowrap;
    
  }
  
 
}