body {
  margin: 0;
  font-family: sans-serif;
  background-color: #ffffff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.bi-download,
.bi-telephone,
.bi-envelope-at-fill,
.bi-instagram,
.bi-facebook,
.bi-globe2,
.bi-cash-stack,
.bi-cash-stack{
  color: rgb(57, 182, 216);   

}
img {
  max-width: 100%;
  height: auto;
}

.logo img {
  width: 110px;
  height: 80px;
  margin-top: 20px;
}

.profilkep-image img {
  width: 270px;
  height: 220px;
  margin-left: -20px;
  margin-top: 30px;
}

.hr1 {
  width: 100%;
  height: 2px;
  background-color: black;
  margin: 20px 0;
}

.cegvezeto-nev{
    font-size: 35px;
    margin-top: 10px;
}
.tulajdonos{
    font-size: 18px;
    margin-top: 7px;
    color: rgb(80, 80, 80);
}
.cegnev{
font-size: 23px;
margin-top: 10px;
margin-bottom: 30px;
}
.mentes-nevjegykent{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 160px;
    background: linear-gradient(to left, rgb(32,178,218), rgb(40, 80,180));
    border: 1px solid  rgb(56, 112, 255);
    padding: 12px;
    border-radius: 15px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    width: 220px;
    height: 50px;
    white-space: nowrap;
    padding-left: 1%;
    padding-right: 2%;
    text-decoration: none;   
    box-shadow: 0px 11px 22px rgb(111, 111, 111);
}
.telefonszam{
    background-color: #000000;
    padding-top:15px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    width: 390px;
    padding-left: 2%;
    height: 60px;
    white-space: nowrap;
    margin-top: 20px;
    margin-left: 30px;
    text-decoration: none; 
    font-size: 20px; 
     box-shadow: 0px 11px 22px rgb(77, 77, 77);
}
.emailcim{
    background-color: #000000;
    padding-top:15px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    width: 390px;
    padding-left: 2%;
    height: 60px;
    white-space: nowrap;
    margin-top: 20px;
    margin-left: 30px;
    text-decoration: none; 
    font-size: 20px; 
     box-shadow: 0px 11px 22px rgb(77, 77, 77);
}
.Social-Media-feluletek-weboldal{
    text-align: center;
    font-size: 35px;
    margin-top: 50px;
    margin-left: 30px;
}
.instabutton{
    background-color: #000000;
    padding-top:15px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    width: 190px;
    padding-left: 2%;
    height: 60px;
    white-space: nowrap;
    margin-top: 20px;
    margin-left: 40px;
    text-decoration: none; 
    font-size: 20px; 
     box-shadow: 0px 11px 22px rgb(77, 77, 77);   
}
.facebookbutton{
   background-color: #000000;
    padding-top:15px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    width: 190px;
    padding-left: 2%;
    height: 60px;
    white-space: nowrap;
    margin-top: -60px;
    margin-left: 250px;
    text-decoration: none; 
    font-size: 20px; 
     box-shadow: 0px 11px 22px rgb(77, 77, 77);  
}
.mywebpage{
    background-color: #000000;
    padding-top:15px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    width: 290px;
    padding-left: 2%;
    height: 60px;
    white-space: nowrap;
    margin-top: 20px;
    margin-left: 100px;
    text-decoration: none; 
    font-size: 20px; 
     box-shadow: 0px 11px 22px rgb(77, 77, 77);    
}

.uzleti-informaciok-cim{
    text-align: center;
    font-size: 35px;
    margin-top: 70px;
    margin-left: 30px;   
}
.uzleti-informaciok{
    gap: 30px;

}
.arlista{
    background-color: #000000;
    padding-top:15px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    width: 390px;
    padding-left: 2%;
    height: 60px;
    white-space: nowrap;
    margin-top: 20px;
    margin-left: 30px;
    text-decoration: none; 
    font-size: 20px; 
     box-shadow: 0px 11px 22px rgb(77, 77, 77);   
}
.Nyitvatartas{
    background-color: #000000;
    padding-top:15px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    width: 390px;
    padding-left: 2%;
    height: 60px;
    white-space: nowrap;
    margin-top: 20px;
    margin-left: 30px;
    text-decoration: none; 
    font-size: 20px; 
     box-shadow: 0px 11px 22px rgb(77, 77, 77);      
}
.szolgaltatasok{
    background-color: #000000;
    padding-top:15px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    width: 390px;
    padding-left: 2%;
    height: 60px;
    white-space: nowrap;
    margin-top: 20px;
    margin-left: 30px;
    text-decoration: none; 
    font-size: 20px; 
     box-shadow: 0px 11px 22px rgb(77, 77, 77);    
}
.akciok{
    background-color: #000000;
    padding-top:15px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    width: 390px;
    padding-left: 2%;
    height: 60px;
    white-space: nowrap;
    margin-top: 20px;
    margin-left: 30px;
    text-decoration: none; 
    font-size: 20px; 
     box-shadow: 0px 11px 22px rgb(77, 77, 77);   
}
.Aktualis-tavolletek{
   background-color: #000000;
    padding-top:15px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    width: 390px;
    padding-left: 2%;
    height: 60px;
    white-space: nowrap;
    margin-top: 20px;
    margin-left: 30px;
    text-decoration: none; 
    font-size: 20px; 
     box-shadow: 0px 11px 22px rgb(77, 77, 77);  
}
.bi-link{
  color: rgb(57, 182, 216); 
  margin-left: 10px;
}
.bi-images{
   color: rgb(57, 182, 216); 
}
.portfolio-cim{
   text-align: center;
    font-size: 35px;
    margin-top: 70px;
    margin-left: 30px;
}
.portfolio-bemutatas{
  font-size: 23px;
  margin-top: 10px;
}
.portfolio{
    background-color: #000000;
    padding-top:15px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    width: 390px;
    padding-left: 2%;
    height: 60px;
    white-space: nowrap;
    margin-top: 20px;
    margin-left: 30px;
    text-decoration: none; 
    font-size: 20px; 
     box-shadow: 0px 11px 22px rgb(77, 77, 77); 
}
.fizetes-banki-atutalassal-cim{
    text-align: center;
    font-size: 35px;
    margin-top: 50px;
    margin-left: 30px;
}
.kedvezmenyezett{
  font-size: 22px;
  margin-top: 10px;
}
.nev{
 font-size: 22px; 
}
.szamla{
  font-size: 22px; 
  margin-top: 10px;
}
.szamlaszam{
 font-size: 22px;  
 margin-top: 10px;
}
.uzlethelyseg-lokacio{
  font-size: 35px;
  margin-top: 50px;
}

.iframe iframe {
  width: 100%;
  max-width: 700px;
  height: 300px;
  border: none;
  margin-top: 20px;
}

/* Mobil nézet */
@media screen and (max-width: 576px) {
  .container {
    padding: 10px;
  }
  .iframe iframe {
    height: 200px;
  }
  .logo img{
    width: 65px;
    height: 50px;
    margin-left: 50px;
  }
  .profilkep-image img{
    height: 150px;
    width: 170px;
    margin-left: 30px;
  }
  .hr1{
    margin-left: 40px;
  }
  .cegvezeto-nev{
    font-size: 23px;
    margin-left: 40px;
  }
  .tulajdonos{
    font-size: 15px;
    margin-left: 40px;
  }
  .cegnev{
    font-size: 20px;
    margin-left: 40px;
  }
  .mentes-nevjegykent{
    padding: 10px;
    height: 40px;
    width: 180px;
    font-size: 15px;
    margin-top: 0px;
  }
  .telefonszam{
    width: 260px;
    height: 45px;
    font-size: 17px;
    margin-left: 40px;
    padding-top: 10px;
  }
  .emailcim{
   width: 260px;
    height: 45px;
    font-size: 17px;
    margin-left: 40px;
    padding-top: 10px;
  }
  .Social-Media-feluletek-weboldal{
    font-size: 25px;
    white-space: nowrap;
  }
  
  .instabutton{
    width: 120px;
    height: 40px;
    font-size: 15px;
    margin-left: 50px;
    padding-top: 10px !important;
  }
  .facebookbutton{
    width: 120px;
    height: 40px;
    margin-top: -40px;
    font-size: 15px;
    margin-left: 180px; 
    padding-top: 10px !important;
  }
  .mywebpage{
    margin-top: 20px;
    width: 180px;
    height: 40px;
    font-size: 16px;
    margin-left: 80px; 
    padding-top: 10px !important;
    
  }
  .uzleti-informaciok-cim{
    font-size: 25px;
    margin-left: 40px;
    margin-top: 60px;
  }
  .arlista{
    width: 260px;
    height: 45px;
    font-size: 17px;
    margin-left: 40px;
    padding-top: 10px;
  }
  .Nyitvatartas{
    width: 260px;
    height: 45px;
    font-size: 17px;
    margin-left: 40px;
    padding-top: 10px;
  }
  .szolgaltatasok{
    width: 260px;
    height: 45px;
    font-size: 17px;
    margin-left: 40px;
    padding-top: 10px;
  }
  .akciok{
    width: 260px;
    height: 45px;
    font-size: 17px;
    margin-left: 40px;
    padding-top: 10px;
  }
  .Aktualis-tavolletek{
    width: 260px;
    height: 45px;
    font-size: 17px;
    margin-left: 40px;
    padding-top: 10px;
  }
  .portfolio-cim{
    font-size: 25px;
    margin-left: 40px;
    margin-top: 40px;
  }
  .portfolio-bemutatas{
    font-size: 17px;
    margin-left: 40px;
    margin-top: 10px;
  }
  .portfolio{
    width: 260px;
    height: 45px;
    font-size: 17px;
    margin-left: 40px;
    padding-top: 10px;
    background-color: #000000;
    color: #ffffff;
    border-radius: 10px;
    margin-top: 15px;
     box-shadow: 0px 11px 22px rgb(77, 77, 77);
  }
  .fizetes-banki-atutalassal-cim{
    font-size: 25px;
    margin-left: 50px;
  }
  .kedvezmenyezett{
    font-size: 17px;
    margin-left: 60px;
  }
  .nev{
    font-size: 17px;
    margin-left: 0px;
  }
  .szamlaszam{
    font-size: 17px;
    margin-left: 0px;
  }
  .szamla{
    font-size: 17px;
    margin-left: 60px;
  }
  .uzlethelyseg-lokacio{
    font-size: 25px;
    margin-left: 60px;
  }
  .iframe iframe{
    margin-left: 20px;
  }
}